<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main  class="centrado">
        <h2 class="h2">Basado en tu última visita</h2>

        <div class="primer producto">    
            <img src="/public/img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </div>

        <div class="segundo producto">    
            <img src="/public/img/img-macbook-pro-2019.jpg" alt="Macbook">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
        </div>

        <div class="tercer producto">    
            <img src="/public/img/img-samsung-galaxy-s10.jpg" alt="s10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </div>

        <div class="cuarto producto">    
            <img src="/public/img/img-tv-samsung-smart.jpg" alt="tele">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </div>
    </main>
</body>
</html>